*{

}

body{
    background-color: darkred;;
}

.container{
    max-width: 60%;
    text-align: center;
    background-color: black;
    color: darkred;
    display: flex;
    flex-direction:column;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 8rem;
    text-align: center;
    font-size: 23px;
}
.heading{
    font-weight: bolder;
}

textarea{
    
    display: block;
    font-size: large;
    width: 90%;
    margin:auto;
    min-height: 10vh;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background: transparent;
    border: 1.5px solid deeppink;
    border-width: bold;
    color:deeppink;
}
button{
  
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: medium;
    background-color:transparent;
    color:red;
    border: 1.5px solid deeppink;
    border-radius: 0.8rem;
    cursor: pointer;
}

#output-description{
    text-align: center;
    margin-top: 1rem;
    margin-bottom:1rem;
    font-size:larger;
}


#outputBox{
    width: 90%;
    height: 10vh;
    text-align:center;
    padding: 0.5rem;
    margin:auto;
    font-size: large;
    background-color: transparent;
    color: deeppink;
    border: 1.5px solid deeppink;
    border-radius:0.8rem;
}